
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-registration input{
    border-radius: 0;
    margin-bottom: -1px;
  }

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;
}

.artistIcon{
  display: flex;
  flex-direction: row;
  align-content: end;
  font-size: large;
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.artistIcon img{
  max-width: 5rem;
  border-radius: 5rem;
}

.col-4{
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  text-align: justify;
}

